.repos > [class*='col-'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.repocard{
  position: relative;
}
.repos .ending{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.stats{
  width: 100%;
}
.scout{
  position: relative!important;
  opacity: 0;
}
.repo-link{
  cursor: pointer;
  text-decoration: none!important;
}
.repo-link:hover{
}
.userImage:after{
  content: "";
  display: block;
  padding-top: 100%;
}